.h3{
	style="margin-bottom: 25px; text-align: center;"
}

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}

#subcategory option{
	display:none;
}

#subcategory option.sub{
	display:block;
}